body {
  text-align: center;
  background-image: url('./images/df8i37y-c9ffef68-8c36-40fe-8be4-1f331268dcea.jpg');
}

div {
  border: 1px black solid;
  width: 40px;
  height: 40px;
}

.pixel {
  background-color: white;
}

.color {
  border: 1px black solid;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: 20px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.coral {
  background-color: coral;
}

#pixel-board {
  padding: 0;
  line-height: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}

#buttons {
  text-align: center;
  margin-bottom: 20px;
}

#new-board-length {
  margin-top: 20px;
}
