body {
  text-align: center;
}

div {
  border: 1px black solid;
  width: 40px;
  height: 40px;
  display: inline-table;
}

.pixel {
  background-color: white;
}

.color {
  border: 1px black solid;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: 20px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.coral {
  background-color: coral;
}

#pixel-board {
  padding: 0;
  line-height: 0;
  display: inline-table;
  width: 210px;
  height: 210px;
}

#buttons {
  text-align: center;
  margin-bottom: 20px;
}
